@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial;
  --color-black: #011627;
  --color-dark-bg: #1a2d3c;
  --color-dark-text: #dddedf;
  --color-white: #f6f7f8;
  --color-orange: #ff6a53;
  --color-dark-orange: #cc5442;
  --color-blue: #587291;
  --color-dark-blue: #465b74;
  --color-green: #739e82;
  --color-dark-green: #5c7e68;
  --color-grey: #64717f;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  main {
    @apply text-sm;
    @apply md:text-base;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-2xl;
    @apply md:leading-relaxed;
    @apply not-first:mt-2;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply font-bold;
  }
  ul {
    @apply list-disc;
    @apply list-outside;
    @apply space-y-1;
  }
  a {
    @apply underline;
    @apply underline-offset-4;
    @apply font-bold;
  }
  /* ... */
}

:root {
  font-family: KyivType, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

.infobox-area {
  transition: height 0.25s linear;
  height: 4rem;
  @apply sm:h-[4.5rem];
  @apply md:h-[5rem];
}

.area-expand {
  height: 8rem;
  @apply sm:h-[9rem];
  @apply md:h-[10rem];
  transition: height 0.25s ease-in;
}

.infobox {
  transition: transform 0.3s linear;
  transform-origin: top;
  transform-style: preserve-3D;
}

.box-slide {
  transform: translateY(100%);
}

@font-face {
  font-family: KyivType;
  src: url('./fonts/KyivTypeSansRegular.otf') format('opentype');
}

@font-face {
  font-family: KyivType light;
  font-weight: 200;
  src: url('./fonts/KyivTypeSansLight.otf') format('opentype');
}

@font-face {
  font-family: KyivType;
  font-weight: bold;
  src: url('./fonts/KyivTypeSansBold.otf') format('opentype');
}

@font-face {
  font-family: KyivType medium;
  font-weight: 500;
  src: url('./fonts/KyivTypeSansMedium.otf') format('opentype');
}
