@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-2xl;
    @apply mt-2;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply font-bold;
  }
  ul {
    @apply list-disc;
    @apply list-outside;
  }
  a {
    @apply underline;
    @apply underline-offset-4;
    @apply font-bold;
  }
  /* ... */
}

:root {
  font-family: KyivType, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.infobox-area {
  transition: height 0.25s linear;
  height: 4rem;
}

.area-expand {
  height: 8rem;
  transition: height 0.25s ease-in;
}

.infobox {
  transition: transform 0.3s linear;
  transform-origin: top;
  transform-style: preserve-3D;
}

.box-slide {
  transform: translateY(100%);
}

@font-face {
  font-family: KyivType;
  src: url('./fonts/KyivTypeSansRegular.otf') format('opentype');
}

@font-face {
  font-family: KyivType light;
  font-weight: 200;
  src: url('./fonts/KyivTypeSansLight.otf') format('opentype');
}

@font-face {
  font-family: KyivType;
  font-weight: bold;
  src: url('./fonts/KyivTypeSansBold.otf') format('opentype');
}

@font-face {
  font-family: KyivType medium;
  font-weight: 500;
  src: url('./fonts/KyivTypeSansMedium.otf') format('opentype');
}
